.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  height: 6vw;
}

.menu {
  height: 6vw;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.hero-text {
max-width: 600px;
}

.hero-text h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 6vw;
  color: white
}

.buttons .btn-mac {
  background-color: #5865f2;
  color: white;
  padding: 0.8rem 1.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.buttons .btn-open {
  background-color: transparent;
  color: white;
  padding: 0.8rem 1.5rem;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.hero-image img {
  max-width: 500px;
  width: 100%
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    margin-top: 2rem;
  }
}